<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Landing Page Design Using HTML & CSS</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://st3.depositphotos.com/27847728/33245/v/600/depositphotos_332451796-stock-illustration-letter-logo-design-vector-template.jpg" class="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <button class="btn" id="btn1">Log In</button>
            <button class="btn" id="btn2">Sign Up</button>
        </div>
        <div class="content">
            <div class="text">
            <h1>Beauty and <br> <span>Skincare</span></h1>
            <p>Every person should learn to be their own skincare expert. <br>I’m a big believer in that if you focus on good skincare, <br>you really won’t need a lot of make-up.
            </p>
            <button class="btn3">Buy Now</button>
           </div>
        <div class="H.A Beauty">
        </div>
       </div>
   </div>
</body>
</html>
 